@import "bootstrap/dist/css/bootstrap.min.css";

/* Your custom CSS here */
body {
  font-family: system-ui;
}

body {
  padding-top: 56px; /* height of the navbar */ 
}

@media (min-width: 992px) {
  body {
    padding-top: 70px;
  }
}