---
layout: layout.njk
title: Our Coaches
heading: Our Coaches
tags: nav
nav_order: 2
---

<div class="container marketing my-4">
  <div class="row g-4">
    {% for coach in coaches %}
    {% set isLastOdd = loop.last and loop.length % 2 != 0 %}
    <div class="col-12 {% if isLastOdd %}col-md-6 offset-md-3{% else %}col-md-6{% endif %}">
      <div class="card h-100">
        <div class="row g-0 align-items-stretch h-100">
          <div class="col-5 d-flex align-items-stretch">
            <div class="w-100" style="height: 250px; overflow: hidden;">
              <img src="{{ coach.image }}" class="img-fluid h-100 w-100 object-fit-cover" alt="{{ coach.name }}">
            </div>
          </div>
          <div class="col-7">
            <div class="card-body d-flex flex-column h-100">
              <h5 class="card-title">{{ coach.name }}</h5>
              <p class="card-text flex-grow-1">{{ coach.description | truncate(256) }}</p>
              <a href="/coaches/{{ coach.name | slug }}/" class="btn btn-link mt-auto align-self-end">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
